<h1>Log In</h1>

<% form_tag session_path do -%>

<p><%= label_tag 'openid_url', 'OpenID URL' %><br/>
<%= text_field_tag 'openid_url', '', :id => 'openid_url' %></p>

<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>

<% if allow_login_bypass? %>
<p><%= label_tag 'skip_login', 'Skip OpenID authenticaion' %>
<%= check_box_tag 'skip_login', 'true', @skip_login %></p>
<% end %>

<p><%= submit_tag 'Log in' %></p>
<% end -%>
