  <div id="user-bar">
<% if logged_in? -%>
    <div id="user-bar-greeting">Hi there <%= link_to current_user.nick_name, user_path(current_user) %>!</div>
    <div id="user-bar-action"><%= link_to "Log out", logout_path %> or <%= link_to 'edit your profile', edit_current_user_path -%></div>
<% else -%>
    <div id="user-bar-greeting">Hi there,</div>
    <div id="user-bar-action"><%= link_to "Log in",  login_path %> or <%= link_to "sign up", signup_path %></div>
<% end -%>
  </div>
