<h1>Sign up as a new user</h1>

<%= error_messages_for :identity_url %>
<% form_for(:identity_url, :url => verify_users_path, :id => 'login') do |f| -%>
<p><%= label_tag 'openid_url', 'OpenID URL' %><br/>
<%= text_field_tag 'openid_url', @identity_url.url, :id => 'openid_url' %></p>

<% if allow_login_bypass? %>
<p><%= label_tag 'skip_login', 'Skip OpenID authentication' %>
<%= check_box_tag 'skip_login', 'true', @skip_login %></p>
<% end %>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
