<h1>Timelines</h1>

<% if @timelines.empty? -%>
<p>There aren't any timelines yet.</p>
<% if logged_in? -%>
<p>Why don't you <%= link_to('create one', new_timeline_path) %>?</p>
<% else -%>
<p>You could create one if you were <%= link_to 'signed up', new_user_path %>.</p>
<% end -%>
<% else -%>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
  </tr>
<% for timeline in @timelines -%>
  <tr>
    <td><%= link_to timeline.name, timeline %></td>
    <td><%=h timeline.description %></td>
    <td><%= link_to timeline.user.nick_name, timeline.user %></td>
  </tr>
<% end -%>
</table>

<p>[pagination]</p>

<%= link_to('New timeline', new_timeline_path) if logged_in? %>

<% end -%>

