<p>
  <b>User:</b>
  <%= link_to @timeline.user.nick_name, @timeline.user %>
</p>

<p>
  <b>Name:</b>
  <%=h @timeline.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @timeline.description %>
</p>

<p>
  <b>Friendly url:</b>
  <%=h @timeline.friendly_url %>
</p>

<p>
  <b>Map api key:</b>
  <%=h @timeline.map_api_key %>
</p>

<% unless @timeline.places.empty? -%>
<ul id="places"><% @timeline.places.each do |place| -%>
  <li><%= link_to place.name, place %></li><% end -%>
</ul>
<% end -%>


<%= link_to 'Edit timeline', edit_timeline_path(@timeline) if @timeline.can_be_edited_by(current_user) %>
