<p>
  <b>User:</b>
  <%= link_to @timeline.user.nick_name, @timeline.user %>
</p>

<p>
  <b>Name:</b>
  <%=h @timeline.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @timeline.description %>
</p>

<p>
  <b>Friendly url:</b>
  <%=h @timeline.friendly_url %>
</p>

<p>
  <b>Map api key:</b>
  <%=h @timeline.map_api_key %>
</p>


<%= link_to 'Edit timeline', edit_timeline_path(@timeline) if @timeline.can_be_edited_by(current_user) %>
