<p>
  <b>Timeline:</b>
  <%=h @place.timeline.name %>
</p>

<% 
closest = @place.find_close_places(2000)
unless closest.empty? -%>
<h3>Places within 2km</h3>
<ul id="places"><% closest.each do |place| -%>
  <li><%= link_to place.name, place %> ll=<%= place.latitude %>,<%= place.longitude %> (<%= place.from_original %> - <%= place.to_original %>)</li><% end -%>
</ul>
<% end -%>

